<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="full">
        <header>
            <h1>Välkommen till show</h1>
        </header>
        <main>
            <div id="card">
                <h1><%= data.user %></h1>
                <a href="/index/<%= data._id %>/edit"><button>Edit User</button></a>
                <a href="/index/<%= data._id %>/delete"><button>Delete User</button></a>
            </div>
        </main>
    </div>
</body>
</html>